 <div class="row">
        <div class="col-sm-12">
        <nav class="navbar navbar-dark" style="background-color: #283747">
          <a class="navbar-brand" href="/" style="font-family: 'Press Start 2P', cursive; font-size:40px; margin-left:20px"> 
            RGCA </a>
          <form class="form-inline">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-gamepad" style= "font-size: 20px;"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
        </nav>
      </div>
    </div>

<div class="container">

</div>

<footer class="page-footer footer-expand-lg" style="background-color: #283747">

  <div class="footer-copyright text-center py-3" style="font-family: 'Press Start 2P', cursive; color:white;">RGCA © 2018
    <a class="navbar-brand" href="/linkedin"> <img src= "/images/linkedin.png" height="30px"></a>
    <a class="navbar-brand" href="https://github.com/tdolan21/RGCA"> <img src= "/images/github.png" height="30px"></a>
      
  </div>
</footer>