 <div class="row">
        <div class="col-sm-12">
        <nav class="navbar navbar-dark" style="background-color: #283747">
          <a class="navbar-brand" href="/" style="font-family: 'Press Start 2P', cursive; font-size:40px; margin-left:20px"> 
            RGCA </a>
          <form class="form-inline">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-gamepad" style= "font-size: 20px;"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
        </nav>
      </div>
    </div>
   
    <br><br>

<p class="text-center">  Click a linkedin link to see the contributors pages</p>

<p class="text-center">  Alex Esch</p>
<a class="navbar-brand" href="https://linkedin.com/in/alexander-esch-37b69a62"> <img src= "/images/linkedin.png" height="100px"></a>

<p class="text-center">  Tim Dolan</p>
<a class="navbar-brand" href="https://www.linkedin.com/in/timothy-dolan-023682127/"> <img src= "/images/linkedin.png" height="100px"></a>

<p class="text-center">  Kristen Kalmenson</p>
<a class="navbar-brand" href="https://www.linkedin.com/in/kristenkalmanson/"> <img src= "/images/linkedin.png" height="100px"></a>

<p class="text-center">  David Sweck</p>
<a class="navbar-brand" href="https://www.linkedin.com/in/david-sweck-7bab55106/"> <img src= "/images/linkedin.png" height="100px"></a>
